<ion-tabs #tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="novedades">
        <ion-icon name="browsers"></ion-icon>
        <ion-label>Novedades</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="productos">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Productos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="informacion">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>