<ion-header>
  <ion-toolbar>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  

          <img src="../assets/img/logo (1).jpg">


         <p>Bienvenido/a a tu tienda de productos para reposteria creativa en Badalona!</p>
          
         <p><ion-icon name="call"></ion-icon>
          <ion-label> 933 99 68 60</ion-label></p>

          <p><ion-icon name="logo-instagram"></ion-icon>
          <ion-text><a class='link' href="https://www.instagram.com/mesqdols"> @mesqdols</a></ion-text></p>

          <p><ion-icon name="logo-facebook"></ion-icon>
          <ion-label> <a class='link' href="https://es-es.facebook.com/pages/category/Grocery-Store/MES-Q-DOL%C3%87-139690039513752/"> Mes Q Dolç</a></ion-label></p>


       
      
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.0789563646463!2d2.2278760517426823!3d41.43750840074627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4bb5db49a084d%3A0x555aee1387d8508b!2sMES+Q+DOL%C3%87+REBOSTERIA!5e0!3m2!1ses!2ses!4v1566391624297!5m2!1ses!2ses" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        
 
</ion-content>
