<ion-header>
  <ion-toolbar>
    <ion-title>
      Mes Q Dolç
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="ion-padding">
    <img class = "logo" src="../assets/img/logo (1).jpg" alt="">
  </div>
      
  <ion-segment mode="md" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" value="friends">
        <ion-label>Friends</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="enemies">
        <ion-label>Enemies</ion-label>
      </ion-segment-button>
    </ion-segment>

</ion-content>
